.sidebar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.sidebar-button:hover{
    background-color: white;
    cursor:pointer;
    transform: scale(1.1);
}